.container {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.main {
  width: 100%;
  min-height: 100vh;
  background-image: url('/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Make text visible on the background */
}

.backgroundImage {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
